###########################################
# EXAMPLE CONFIGURATION FILE FOR NICE-PLOTS
###########################################

# This example config shows all the available options as well as their default values
# When writing your own config you do not need to specify all the options, but only those
# for which you wish to deviate from the default values.
# NOTE: If you wish to change the actual default values you need to change the values in utils/config.py

data:
  # Name of the column in the codebook that contains the number identifying to
  # which question block the question belongs.
  # Questions with None are ignored when plotting.
  block_id_label: "Group"

  # Name of the column in the codebook that contains the question text.
  question_label: "Label"

  # Name of the column in the codebook that contains the names of the variables.
  # These names have to match the names of the variables in the data table!
  name_label: "Variable"

  # Name of the column in the codebook that contains the mapping from
  # code numbers in the data table to labels.
  # The cells must contain multiple entries separated by newlines.
  # Each entry must follow the format <code value> = <text label>.
  # If no mapping is provided (empty) the codes are used directly, separated into <nbins> linearly spaced bins

  # Example cell entry:
  # 1 = nie
  # 2 = manchmal
  # 3 = immer
  mapping_label: "Value Codes"

  # The name of the column in the codebook indicating the missing code
  # (question not filled out by participant).
  # These data entries are completely ignored when plotting.
  missing_label: "Missing Code"

  # Code used to identify participants that chose no answer.
  # These data entries are not used when plotting but they show up in the summary stats
  # of some plotting types (e.g. barplots)
  no_answer_code: 999

  # Optional filter functions. Allows to split data into multiple groups
  # based on the values of certain variables. The different groups are compared
  # against each others in the plots.
  # Example:
  groups:
    Group 1: "VAR02 == 1"
    Others: "(VAR02 == 2) | (VAR02 == 4)"

  # The delimiter in the codebook and data table (NOTE: Excel uses ; by default)
  delimiter: ","

plotting:
  # output format
  format: pdf

  # Number of bins used by default to create linear binning scheme.
  # Only used if mapping is none
  nbins: 5

  # Default unit used for legend if mapping is none
  unit: ""

# BARPLOTS OPTIONS
############################################################
#    BARPLOTS:
#    For each question and group plot a horizontal bar. Each segment of the bar corresponds one answer and its width
#    represents the relative amount of people that chose this answer.
#
#    For each question a short statistics summary is added.
#
#    Y-Layout: The only physical size input for the vertical direction is the height of one question barplot unit
#    (height_question, in inches).
#
#
#    The physical height of the plot is calculated from the number of questions, groups,
#    relative spacings and the desired physical size of the bars.
#
#    For the legend at the top 2 * height_question is allocated.
#
#                       ---
#                        |       _
#                        |       | Bar for group 1, Question 1
#                        |       -
#    height_question     |      height_rel_pad_groups (relative spacing between bars within a question)
#                        |       _
#                        |       |  Bar for group 2, Question 1
#                        |       -
#                        |
#                       ---     height_rel_pad_questions (relative spacing between bars between different questions)
#                        |       _
#                        |       | Bar for group 1, Question 2
#                        |       -
#    height_question     |      height_rel_pad_groups (relative spacing between bars within a question)
#                        |       _
#                        |       |  Bar for group 2, Question 2
#                        |       -
#                        |
#                       ---
#
#    X-Layout: For each component of the barplot (question label, group label, etc.) the physical width is
#    required as an input in inches. The total physical width is the sum of all components.
#
#    Text is wrapped automatically to the correct width.
#
#      width_question   width_pad  width_groups  width_pad    width_plot   width_pad  width_summary
#    |                     | |                     | |                       |  |                    |
#    |                     | |                     | |                       |  |                    |
#    |                     | |                     | |                       |  |                    |
#    |                     | |                     | |                       |  |                    |
#    |                     | |                     | |                       |  |                    |
#    |                     | |                     | |                       |  |                    |
#    |                     | |                     | |                       |  |                    |
#    |                     | |                     | |                       |  |                    |

barplots:
  # If True the label categories are plotted from largest to smallest.
  invert: False

  # default colorscheme
  color_scheme: "RdYlGn"

  # Color of the numbers in the bars
  text_color: "black"

  layout:
    width_question: 2
    width_groups: 1
    width_plot: 3
    width_summary: 3
    width_pad: 0.2
    height_question: 1.5
    height_rel_pad_groups: 0.1
    height_rel_pad_questions: 0.3

  font_legend:
    family: sans_serif
    style: normal
    size: 8

  font_questions:
    family: sans_serif
    style: normal
    size: 12

  font_groups:
    family: sans_serif
    style: normal
    size: 10

  font_summary:
    family: sans_serif
    style: normal
    size: 8

  font_plot:
    family: sans_serif
    style: normal
    size: 8

# LINEPLOTS OPTIONS
############################################################
lineplots:
  # If True the label categories are plotted from largest to smallest.
  invert: False

  # Filter category colors for lineplots
  colors:
    - "C0"
    - "C1"
    - "C2"
    - "C3"
    - "C4"

  layout:
    width_question: 2
    width_plot: 3
    width_labels: 1.0
    width_pad: 0.2
    height_question: 1.0
    rel_edge_line_height: 0.5

  font_legend:
    family: sans_serif
    style: normal
    size: 8

  font_questions:
    family: sans_serif
    style: normal
    size: 12

  font_labels:
    family: sans_serif
    style: normal
    size: 12

# HISTOGRAMS
############################################################
histograms:
  # Distance between labels and plot axis
  padding: 0.2 # in inches

  # Distance between bar and value labels
  bar_pad: 0.1 # In inches

  # Relative width of bars (1 = full bin width)
  rwidth: 0.8

  # distance of stats from corner
  dist: 0.5 # in inches

  # The colors for the bars in the histograms. One per filter category
  colors:
    - "C0"
    - "C1"
    - "C2"
    - "C3"
    - "C4"

# TIMELINES
############################################################
timelines:
  height: 3.0

  dist: 0.6

  colors:
    - "blue"
    - "red"
